body
{
    background: url('fond.jpg');
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #181818;
}

#bloc_page
{
    width: flex;
    height: flex;
    margin-top: 145px;
    margin-bottom: 150px;
    margin-left: 139px;
    margin-right: 140px;
    background-color: #ffffff;
}

/* Header */

header
{
    display: flex;
}

#titre_principal
{
    display: flex;
    flex-direction: column;
}

#logo
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#logo img
{
    width: 59px;
    height: 60px;
}

header h1
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3em;
    font-weight: bold;
    margin: 20px 0 0 70px;
}

header h2
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.75em;
    margin: 10px 0 0 175px;
    font-weight: normal;
}


/* Navigation */

nav{
    margin-left: auto;
    margin-right 0px;
    margin-top: 20px;
}

nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 30px;
}

nav a
{
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: #760001;
    border-bottom: 3px solid #760001;
}

.actuel{
    border-bottom: 3px solid #ff9500;
    pointer-events: none;
}

/* Corps */

section
{
    display: flex;
    margin-bottom: 20px;
}

article, aside
{
    text-align: justify;
}

article
{
    margin: 20px 20px 0px 20px;
    flex: 3;
    font-size: 20px;
}

.ico_categorie
{
    vertical-align: middle;
    margin-right: 8px;
}

article p
{
    font-size: 0.8em;
}

aside
{
    margin-right: 20px;
    margin-bottom: 20px;
    flex: 1.2;
    position: relative;
    background-color: #ff9500;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 0.9em;
}

#fleche_bulle
{
    position: absolute;
    top: 100px;
    left: -12px;
}

#photo_zozor
{
    text-align: center;
}

#photo_zozor img
{
    border: 1px solid #181818;
}

aside img
{
    margin-right: 5px;
}

.link{
    color: #fff;
    text-decoration: none;
}

.titre{
    font-size: 1em;
    font-weight: bold;
}
/* Footer */

footer
{
    display: flex;
    background:  url('images/ico_top.png') no-repeat top center, url('images/separateur.png') repeat-x top, url('images/ombre.png') repeat-x top;
    padding-top: 25px;
}

footer p, footer ul
{
    font-size: 0.8em;
}

footer h1
{
    font-size: 1.1em;
}


#tweet
{
    width: 28%;
}

#mes_photos
{
    width: 35%;
}

#mes_amis
{
    width: 31%;
}

#mes_photos img
{
    border: 1px solid #181818;
    margin-right: 2px;
}

#listes_amis
{
    display: flex;
    justify-content: space-between;
    margin-top: 0;
}

#mes_amis ul
{
    list-style-image: url('images/ico_liensexterne.png');
    padding-left: 2px;
}

#mes_amis a
{
    text-decoration: none;
    color: #760001;
}